@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
  box-sizing: border-box;
  padding: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar{
	width: 15px;
	background-color: rgb(255, 255, 255);
}

body::-webkit-scrollbar-thumb{
	background: #727272;
	border-radius: 50px;
	height: 100px;
	width: 50%;
}

body::-webkit-scrollbar-thumb:hover{
	background-color: #b4b4b4;
}
